.venv/
__pycache__/
venv/
instance/
.env
*.pyc
site.db
.flaskenv
.pytest_cache/
*.db

# Ignore processed and temp images
flaskblog/static/profile_pics/*
!flaskblog/static/profile_pics/default.jpg
!flaskblog/static/profile_pics/processing/
flaskblog/static/profile_pics/processing/*
!flaskblog/static/profile_pics/processing/.gitkeep
